<a href="https://colab.research.google.com/github/dsco/matt-contacts/blob/main/Pandas_way_not_my_favorite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
co_name = "Done A & B Construction"
fname = co_name + ".csv" # build file name from company name (special chars an issue in github)

url = "https://raw.githubusercontent.com/dsco/matt-contacts/main/Done%20A%20%26%20B%20Construction.csv"

In [5]:
df = pd.read_csv(url, header=None, on_bad_lines='skip')

In [6]:
df.head(10)

                 0                               1         2    3        4
0             Name              A & B Construction       NaN  NaN      NaN
1            Phone                  (510) 999-6000       NaN  NaN      NaN
2              Fax                  (510) 982-3636       NaN  NaN      NaN
3          Website  http://aandbconstructionco.com       NaN  NaN      NaN
4          Address                 1350 4th Street  Berkeley   CA  94710.0
5              NaN                             NaN       NaN  NaN      NaN
6  Active Projects                             NaN       NaN  NaN      NaN
7         Planning                               1       NaN  NaN      NaN
8          Bidding                               1       NaN  NaN      NaN
9         Post Bid                              61       NaN  NaN      NaN

In [7]:
# features used to strip out meaningless rows
contacts_flag = False
contacts_list = []

In [8]:
# loop through the initial file and strip out everything
#but the 'contacts' rows
for index, row in df.iterrows():
        if row[0] == 'Contacts': # start reading the csv
            contacts_flag = True
            continue
        if row[0] == 'Projects': # stop reading the csv
            contacts_flag = False
            continue
        if len(row) != 0 and contacts_flag:
            contacts_list.append(row)
            
df2 = pd.DataFrame(contacts_list)

In [9]:
df2.head(50) # a test view

           0                                                  1   2   3   4
12      Name                                       Heather Page NaN NaN NaN
13     Phone                                     (510) 999-6000 NaN NaN NaN
14       Fax                                     (510) 982-3636 NaN NaN NaN
15     Email                    heather@aandbconstructionco.com NaN NaN NaN
16  Linkedin  http://www.linkedin.com/pub/heather-page/57/5b... NaN NaN NaN
17       NaN                                                NaN NaN NaN NaN
18      Name                                      Jackie Harmon NaN NaN NaN
19     Phone                                     (510) 999-6000 NaN NaN NaN
20       Fax                                     (510) 982-3636 NaN NaN NaN
21     Email                     jackie@aandbconstructionco.com NaN NaN NaN
22       NaN                                                NaN NaN NaN NaN
23      Name                                           Jae Shin NaN NaN NaN
24     Phone                                     (510) 999-6000 NaN NaN NaN
25       Fax                                     (510) 982-3636 NaN NaN NaN
26     Email                            jae@a-bconstruction.net NaN NaN NaN
27       NaN                                                NaN NaN NaN NaN
28      Name                                        Carole Gibb NaN NaN NaN
29     Phone                                     (510) 999-6000 NaN NaN NaN
30       Fax                                     (510) 982-3636 NaN NaN NaN
31     Email                          carole@a-bconstmction.net NaN NaN NaN
32       NaN                                                NaN NaN NaN NaN
33      Name                                         Peter Buss NaN NaN NaN
34     Phone                                     (415) 726-3071 NaN NaN NaN
35       Fax                                     (510) 982-3636 NaN NaN NaN
36  Linkedin    https://www.linkedin.com/in/peter-buss-2002a77/ NaN NaN NaN
37       NaN                                                NaN NaN NaN NaN
38      Name                                          Brad Rigg NaN NaN NaN
39     Phone                                     (415) 637-4269 NaN NaN NaN
40       Fax                                     (510) 982-3636 NaN NaN NaN
41     Email                          brigg@a-bconstruction.net NaN NaN NaN
42       NaN                                                NaN NaN NaN NaN
43      Name                                           Ron Rust NaN NaN NaN
44     Phone                                     (510) 999-6000 NaN NaN NaN
45       Fax                                     (510) 982-3636 NaN NaN NaN
46       NaN                                                NaN NaN NaN NaN
47      Name                                    Fabian Riquelme NaN NaN NaN
48     Phone                                     (415) 235-9040 NaN NaN NaN
49       Fax                                     (510) 982-3636 NaN NaN NaN
50  Linkedin  https://www.linkedin.com/in/fabian-riquelme-48... NaN NaN NaN
51       NaN                                                NaN NaN NaN NaN
52      Name                                      Abel L Canlas NaN NaN NaN
53     Phone                                     (510) 999-6000 NaN NaN NaN
54       Fax                                     (510) 982-3636 NaN NaN NaN
55     Email                        acanlas@a-bconstruction.net NaN NaN NaN
56       NaN                                                NaN NaN NaN NaN

In [10]:
# Build a new dict for each contact and
# Build a dataframe of all contacts extracted from file
contact_id = 0
contacts = []
contact = {}
for index, row in df2.iterrows():
    if row[0] == 'Name':
        contact_id += 1
        contacts.append(contact)
        contact = {}
        
        contact['Company'] = co_name
        contact['Name'] = row[1]
        # contact['id'] = contact_id
    elif isinstance(row[0], str):
        contact[row[0]] = row[1]
df3 = pd.DataFrame(contacts)

In [11]:
# clean up the edges
df3 = df3.drop(index=0)
del df3['Fax']

In [12]:
# show the result
df3.head(15)

,Company,Name,Phone,Email,Linkedin
1,Done A & B Construction,Heather Page,(510) 999-6000,heather@aandbconstructionco.com,http://www.linkedin.com/pub/heather-page/57/5b...
2,Done A & B Construction,Jackie Harmon,(510) 999-6000,jackie@aandbconstructionco.com,NaN
3,Done A & B Construction,Jae Shin,(510) 999-6000,jae@a-bconstruction.net,NaN
4,Done A & B Construction,Carole Gibb,(510) 999-6000,carole@a-bconstmction.net,NaN
5,Done A & B Construction,Peter Buss,(415) 726-3071,NaN,https://www.linkedin.com/in/peter-buss-2002a77/
6,Done A & B Construction,Brad Rigg,(415) 637-4269,brigg@a-bconstruction.net,NaN
7,Done A & B Construction,Ron Rust,(510) 999-6000,NaN,NaN
8,Done A & B Construction,Fabian Riquelme,(415) 235-9040,NaN,https://www.linkedin.com/in/fabian-riquelme-48...